.navbar.navbar-default

  .container

    ul.nav.navbar-nav
      li(class=active?'active':'')
        a(href="/") Home
        
      li(class=active?'active':'')
        a(href="/users") Users
    
