extends layout

block content

  form.container(
    name="findUsers"
    method="GET"
    action="/users"
  )
    //- Error rendering
    if err
      .row
        .col-xs-12
          .alert.alert-danger(role="alert")
            p= err
    
    .row
      .col-xs-12
        h1 Find VK Users
    
    .row
      .col-xs-12
        //- Access Token
        .form-group
          .input-group
            .input-group-addon Access Token
            input.form-control(
              required
              type="text"
              name="access_token"
              value=query.access_token
            )
            .input-group-btn
              a.btn.btn-primary(
                href="https://oauth.vk.com/authorize?display=popup&client_id=2863466&response_type=token&redirect_uri=https://oauth.vk.com/blank.html"
                target="_blank"
              )
                span Get
          
        //- Name
        .form-group
          .input-group
            .input-group-addon Name
            input.form-control(
              required
              type="text"
              name="name"
              value=query.name
            )
        
        //- Age
        .form-group
          .input-group
            .input-group-addon Age
            input.form-control(
              type="number"
              min=0
              name="age"
              value=query.age
            )
        
        //- Sex
        .form-group
          .input-group
            .input-group-addon Sex

            .input-group-addon
              label.radio-inline
                input(
                  type="radio"
                  name="sex"
                  id="sex"
                  checked= query.sex === 'female'
                  value="female"
                )
                span Female

            .input-group-addon
              label.radio-inline
                input(
                  type="radio"
                  name="sex"
                  id="sex"
                  checked= query.sex === 'male'
                  value="male"
                )
                span Male
            
            .form-control
        
        //- //- Country
        //- .form-group
        //-   input.form-control(
        //-     type="text"
        //-     name="country"
        //-     placeholder="Country"
        //-     value=query.country
        //-   )
        
        //- City
        .form-group
          .input-group
            .input-group-addon City
            input.form-control(
              type="text"
              name="city"
              value=query.city
            )

        //- Friends count
        .form-group
          .input-group
            .input-group-addon Friends Count
            - query.filter = query.filter || {};
            input.form-control(
              type="number"
              min="0"
              name="filter[friends]"
              value=query.filter.friends
            )
    
    .row
      .col-xs-12
        button.btn.btn-default.btn-lg.btn-primary.btn-block(
          type="submit"
        )
          span Find
  
  
  //- Found data output
  if found
    .container

      each user in found
        - link = "https://vk.com/id" + user.id

        hr
        
        .row
        
          .col-xs-2
            a(href=link target="blank")
              img.img-responsive.img-circle(src=user.photo_200)

          .col-xs-10

            h4
              a(
                href=link
                target="_blank"
              )
                span= '#' + (found.indexOf(user) + 1) + ' '
                span= user.first_name + ' '
                span= user.last_name

            .form-horizontal
              .form-group
                label.col-xs-4.control-label Home Tel
                .col-xs-8
                  .form-control= user.home_phone
              
              .form-group
                label.col-xs-4.control-label Can Write
                .col-xs-8
                  .form-control= user.can_write_private_message
              
              .form-group
                label.col-xs-4.control-label Followers Count
                .col-xs-8
                  .form-control= user.followers_count
            
            //- pre!= JSON.stringify(user)
